ALLOWED_HOSTS=example.com,awesomedomain.com
CSRF_TRUSTED_ORIGINS=https://denlop.pythonanywhere.com
SECRET_KEY=xxxx
DEBUG=True

DATABASE=postgres
DATABASE_HOST=localhost
DATABASE_USER=postgres
DATABASE_PASSWORD=mypassword
DATABASE_NAME=afit
DATABASE_PORT=5432

FIREBASE_CREDENTIALS=serviceAccountKey.json

BACKEND_URL=http://localhost:8000
FRONTEND_URL=http://localhost:4200

EMAIL_USE_TLS=True
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

SENTRY=xxxx