ALLOWED_HOSTS=example.com,awesomedomain.com
SECRET_KEY=xxxx
DEBUG=True
DATABASE=postgres
DATABASE_HOST=localhost
DATABASE_USER=postgres
DATABASE_PASSWORD=mypassword
DATABASE_NAME=afit
DATABASE_PORT=5432
FIREBASE_CREDENTIALS=serviceAccountKey.json
FRONTEND_URL=http://localhost:4200